.canvas {
    @include neomorph;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(var(--cols), 1fr);
    margin: 0 auto;
    padding: 20px;
    border-radius: $border_radius;
    &__tile {
        position: relative;
        &--0 { // blank
            
            &::after {
                background-color: $section_colour_h;
            }
        }
        &--1 { // wall
            
            &::after {
                background-color: rgb(71, 71, 71);
            }
        }
        &--2 { // finder
            
            &::after {
                background-color: rgb(231, 41, 41);
            }
        }
        &--3 { // target
            
            &::after {
                background-color: rgb(62, 218, 62);
            }
        }
        &::before {
            content: '';
            display: block;
            padding-top: 100%;
        }
        &::after {
            content: '';
            position: absolute;
            top: 3%;
            right: 3%;
            bottom: 3%;
            left: 3%;
            border-radius: 5px;
        }
    }
}