.canvas {
    @include neomorph;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(var(--cols), 1fr);
    margin: 0 auto;
    padding: 20px;
    border-radius: $section_radius;
    user-select: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    &__tile {
        position: relative;
        &::before {
            content: '';
            display: block;
            padding-top: 100%;
        }
        &::after {
            content: '';
            position: absolute;
            top: 3%;
            right: 3%;
            bottom: 3%;
            left: 3%;
            border-radius: 5px;
            background-size: 25px 25px;
            background-repeat: no-repeat;
            background-position: center;
        }



        &--0 { // blank
            &:hover {
                &::after {
                    background-color: $blank_colour_hover;
                }
            }
            &::after {
                background-color: $blank_colour;
                animation-name: blankIn;
                animation-duration: 0.3s;
            }
        }
        &--1 { // wall
            &:hover {
                &::after {
                    background-color: $wall_colour_hover;
                }
            }
            &::after {
                background-color: $wall_colour;
                animation-name: wallIn;
                animation-duration: 0.3s;
            }
        }
        &--2 { // finder
            &:hover {
                &::after {
                    background-color: $finder_colour_hover;
                }
            }
            &::after {
                background-color: $finder_colour;
                animation-name: finderIn;
                animation-duration: 0.3s;
            }
        }
        &--3 { // target
            &:hover {
                &::after {
                    background-color: $target_colour_hover;
                }
            }
            &::after {
                background-color: $target_colour;
                animation-name: targetIn;
                animation-duration: 0.3s;
            }
        }
        &--4 { // path
            &:hover {
                &::after {
                    background-color: $path_colour_hover;
                }
            }
            &::after {
                background-color: $path_colour;
                animation-name: pathIn;
                animation-duration: 0.3s;
            }
        }

        &--5 { // visited
            &:hover {
                &::after {
                    background-color: $visited_colour_hover;
                }
            }
            &::after {
                background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256zM256 352C309 352 352 309 352 256C352 202.1 309 160 256 160C202.1 160 160 202.1 160 256C160 309 202.1 352 256 352z"/></svg>');
                background-size: 10px 10px;
                background-color: $visited_colour;
            }
        }
        &--6 { // complete
            &:hover {
                &::after {
                    background-color: $complete_colour_hover;
                }
            }
            &::after {
                animation-fill-mode: forwards;
                animation-name: completeIn;
                animation-duration: 1.5s;
            }
        }

        @keyframes blankIn {
            0% { 
                transform: scale(1.2);
                opacity: 0;
            }
            100% { 
                transform: scale(1);
                opacity: 1;
            }
        }
        @keyframes wallIn {
            0% { 
                transform: scale(1.2);
                opacity: 0;
            }
            100% { 
                transform: scale(1);
                opacity: 1;
            }
        }
        @keyframes finderIn {
            0% { 
                transform: scale(1.2);
                opacity: 0;
            }
            100% { 
                transform: scale(1);
                opacity: 1;
            }
        }
        @keyframes targetIn {
            0% { 
                transform: scale(1.2);
                opacity: 0;
            }
            100% { 
                transform: scale(1);
                opacity: 1;
            }
        }
        @keyframes pathIn {
            0% { 
                transform: scale(1.2);
                opacity: 0;
            }
            100% { 
                transform: scale(1);
                opacity: 1;
            }
        }
        @keyframes completeIn {
            0% { 
                transform: scale(0.6);
                border-radius: 50%;
                background-color: $complete_colour_before;
            }
            100% { 
                transform: scale(1);
                border-radius: 5px;
                background-color: $complete_colour;
            }
        }
    }
}