.sidebar {
    @include neomorph;
    position: fixed;
    bottom: 20px;
    left: 20px;
    top: 20px;
    width: 350px;
    overflow-y: auto;
    border-radius: $border_radius;
    &__inner {
        padding: 10px 20px;
        &__section {
            padding: 10px 0;
            border-bottom: 2px solid $border_colour;
        }
    }
}