$section_colour: #ECF0F3;
$section_colour_h: #dde3e7;

$border_colour: #cbd0d3;
$font_title: rgb(27, 27, 27);
$font_body: rgb(39, 39, 39);

$border_radius: 5px;
$section_radius: 20px;



// Tile Colours
$blank_colour: #dde3e7;
$blank_colour_hover: #ccd3d8;
$blank_colour_accent: #212222;

$wall_colour: #303131;
$wall_colour_hover: #363838;
$wall_colour_accent: #e4ecec;

$finder_colour: #db2d59;
$finder_colour_hover: #ca2952;
$finder_colour_accent: #fae9ed;

$target_colour: #2dd6ce;
$target_colour_hover: #29c9c1;
$target_colour_accent: #272929;

$path_colour: #e9cb25;
$path_colour_hover: #dbc022;
$path_colour_accent: #1b1b19;

$visited_colour: #dde3e7;
$visited_colour_hover: #dde3e7;

$complete_colour_before: rgb(166, 235, 224);
$complete_colour: rgb(138, 176, 219);
$complete_colour_hover: rgb(145, 173, 206);
$complete_colour_accent: #19191b;


// Mixins
@mixin neomorph {
    background-color: $section_colour;
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.082),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.904);
}
@mixin animate {
    transition: 0.3s;
}