h1 {
    font-size: 22px;
    font-weight: 700;
    color: $font_title;
}
h2 {
    font-size: 18px;
    font-weight: 600;
    color: $font_title;
    margin-bottom: 5px;
}
p {
    font-size: 16px;
    font-weight: 400;
    color: $font_body;
}